@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

tw-story {
  background: #000;
  color: #fff;
  padding: 5%;
}

img {
  max-width: 300px;
  margin: 0 auto;
}

ul li {
  margin: 5px;
  padding: 5px;
}

.main {
  background: url('https://img.elo7.com.br/product/zoom/DFFA97/papel-de-parede-listra-marrom-e-bege1750-infantario.jpg') no-repeat center;
  background-size: cover;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.dialog {
  font-family:'Press Start 2P', cursive;
  font-size: 16px;
  width: 90%;
  min-height: 200px;
  background: url('https://i.ibb.co/Zmvqtw7/background-box.png') no-repeat center center;
  background-size: 100% 100%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-itens: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}

.buttons {
  display: flex;
  align-itens: center;
  justify-content: center;
  list-style-type: "-";
  margin: 0px 15px 0px 0px;
}

.buttons li {
  margin: 10px 15px;
