@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

tw-story {
  background: black;
  color: #fff;
  padding: 0%;
}

img {
  max-width: 300px;
  margin: 0 auto;
}

ul li {
  margin: 5px;
  padding: 5px;
}
  
.main{
    background: url('https://github.com/Samis6/gamecat1/blob/master/FORMAS%20DE%20CHARLIE/vamo%20verrrr.png?raw=true') no-repeat center;
	background-size: cover; 
  	max-width: 1200px;
  	margin: 10px auto;
  	display: flex;
  	justify-content: end;
  	flex-direction: column;
  	flex-wrap:wrap;
  	padding: 20px;
  	text-align: center;


  
}

tw-story[tags~="credito"]{
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/Creditos.jpg?raw=true");  
  background-size: cover;
}

tw-story[tags~="QUARTORAMI"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/QUARTO%20RAMILA.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="SALA"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/SALAA.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="RUA"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/RUA.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="TELHADO"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/TELHADO.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="PANDORA"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/QUARTO%20PANDORA.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="QUINTAL"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/backyard-barbecue-in-the-night-vector.jpg?raw=true");
 	background-size: cover;  
}

tw-story[tags~="CEMITERIO"] .main {
	background-image: url("https://github.com/Samis6/gamecat1/blob/master/BG/338.jpg?raw=true");
 	background-size: cover;  
}

.dialog {
  font-family:'Press Start 2P', cursive;
  font-size: 16px;
  width: 90%;
  min-height: 200px;
  background: url('https://i.ibb.co/Zmvqtw7/background-box.png') no-repeat center center;
  background-size: 100% 100%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-itens: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}

.buttons {
  display: flex;
  align-itens: center;
  justify-content: center;
  list-style-type: "-";
  margin: 0px 15px 0px 0px;
}

.buttons li {
  margin: 10px 15px;
